<section class="about-section">
  <div class="about-title-wrap">
    <h2 class="section-title about-title">Про проєкт</h2>
    <div class="about-img-wrap">
      <img
        src="/images/about/silpo.png"
        alt="Логотип Птахи"
        class="about-silpo-img"
      />
      <img
        src="/images/about/birds.png"
        alt="Логотип Сільпо"
        class="about-silpo-birds"
      />
    </div>
  </div>
  <div class="about-text-wrap">
    <p class="about-text">
      Життя Плюс - спільна благодійна ініціатива Сільпо та проекту
      &#8220;Птахи&#8221;. 1 грн з продажу товарів з відповідною позначкою буде
      передано на тактичну медицину для ГУР, бригади &#8220;АЗОВ&#8221;,
      батальйону &#8220;Вовки да Вінчі&#8221;, 3 ОШБр.
    </p>
    <p class="about-text">
      До 24% смертей на полі бою можна запобігти завдяки своєчасному наданні
      допомоги пораненим. Надати допомогу не маючи необхідного неможливо
    </p>
  </div>
</section>
