<section class="about-section">
  <div class="container about-container">
    <div class="about-title-wrap">
      <h2 class="section-title about-title">Про збір</h2>
      <div class="about-img-wrap">
        <svg class="about-silpo-icon">
          <use href="/icons/icons.svg#about-silpo"></use>
        </svg>
        <svg class="about-birds-icon">
          <use href="/icons/icons.svg#about-birds"></use>
        </svg>
      </div>
    </div>
    <div class="about-text-wrap">
      <p class="about-text">
        «Плюс на життя» — довгострокова соціальна кампанія мережі «Сільпо» для
        допомоги фронту. Наша мета — зібрати 40 000 000 гривень на засоби
        тактичної медицини для підрозділів ГУР, батальйону «Вовки Да Вінчі»,
        бригад «АЗОВ» і 3 ОШБр. Партнером збору є проєкт «Птахи» Тати Кеплер.
      </p>
      <p class="about-text">
        1 гривню з продажу кожного з 500+ товарів, які беруть участь в акції, ми
        передаватимемо проєкту «Птахи» на укомплектування бойових медиків.
        Купуючи улюблені продукти зі спеціальними позначками в супермаркетах
        «Сільпо» та онлайн-магазині shop.silpo.ua, наші гості відправлять тисячі
        засобів тактичної медицини на передову.
      </p>
    </div>
  </div>
</section>
