<div class="container decoration-container">
  <h2 class="section-title decoration-title">Прикраса за донат балобонусів</h2>
  <div class="decoration-content-wrap">
    <a
      href="https://silpo.page.link/DKWf"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="decoration-banner-wrap-link"
      data-aos="zoom-in"
    >
      <div class="decoration-banner">
        <div class="decoration-banner-text-wrap">
          <p class="decoration-banner-title">Донати<br />пРИКРАШАЮТЬ</p>
          <p class="decoration-banner-text">
            Розігруємо прикрасу за донат від 30 балобонусів на збір «Рятуємо
            воїнів на передовій» у Скарбничці добра
          </p>
        </div>
        <ul class="decoration-banner-promotions-list">
          <li class="decoration-banner-promotions-list-item">
            <img
              src="/icons/decoration/own-account.svg"
              class="decoration-banner-promotions-list-img"
            />
          </li>
          <li class="decoration-banner-promotions-list-item">
            <img
              src="/icons/decoration/plus-for-life.svg"
              class="decoration-banner-promotions-list-img"
            />
          </li>
          <li class="decoration-banner-promotions-list-item">
            <img
              src="/icons/decoration/silpo.svg"
              class="decoration-banner-promotions-list-img"
            />
          </li>
        </ul>
      </div>
      <div class="decoration-banner-label">
        <p class="decoration-banner-label-text">Розігруємо прикрасу</p>
      </div>
    </a>
    <div class="decoration-conditions" data-aos="zoom-in">
      <p class="decoration-conditions-text">
        Акція діє з
        <span class="decoration-conditions-text-accent"
          >05.11.2024 по 18.11.2024</span
        >
        виключно в
        <a
          href="https://silpo.ua/app.html"
          target="_blank"
          rel="noopener noreferrer"
          class="decoration-conditions-text-link decoration-conditions-text-accent"
          >мобільному застосунку «Сільпо»</a
        >
        для учасників програми «Власний Рахунок».<br />Результати розіграшу буде
        опубліковано 19.11.2024 у сторіс Instagram мережі «Сільпо».
        <a
          href="https://static.silpo.ua/content/prykrasa-za-donat-balobonusiv.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="decoration-conditions-text-link silpo decoration-conditions-text-accent"
          download
          >Детальніше про умови акції дізнавайтеся на сайті: silpo.ua та /</a
        >
        або за телефоном гарячої лінії
        <a
          href="tel:0800301707"
          class="decoration-conditions-text-link decoration-conditions-text-accent"
          >0 800 301 707</a
        >.
      </p>
      <p class="decoration-conditions-desc">
        *Реальний вигляд прикраси може відрізнятися від зображення. За умовами
        акції, всі зібрані балобонуси буде перераховано на закупівлю тактичної
        медицини у проєкт «Птахи» Тати Кеплер.
      </p>
      <button
        type="button"
        class="decoration-conditions-btn js-decoration-conditions-btn"
      >
        Детальніше
      </button>
      <div class="decoration-banner-label">
        <p class="decoration-banner-label-text">Розігруємо прикрасу</p>
      </div>
    </div>
  </div>
</div>
