<div class="decoration-modal-win js-decoration-modal-win is-hidden">
  <div
    class="decoration-modal-win-backdrop js-decoration-modal-win-backdrop"
  ></div>
  <div
    class="decoration-modal-win-content-wrap js-decoration-modal-win-content-wrap"
  >
    <div class="decoration-modal-win-content">
      <button
        type="button"
        class="decoration-modal-win-content-close-btn js-decoration-modal-win-content-close-btn"
      >
        <img
          src="/icons/decoration/close-modal-win.svg"
          alt="іконка кнопки"
          class="decoration-modal-win-content-close-btn-icon"
        />
      </button>
      <div class="decoration-modal-win-content-container">
        <div class="decoration-modal-win-main-info-wrap">
          <div class="decoration-modal-win-title-wrap">
            <p class="decoration-modal-win-title">Донати прикрашають!</p>
            <div class="decoration-modal-win-text-wrap">
              <p class="decoration-modal-win-text">
                Скільки зборів для ЗСУ, стільки й способів мотивувати кожного та
                кожну, хто їх бачить. Ми не виняток у цій аксіомі 🙂
              </p>
              <p class="decoration-modal-win-text">
                У мобільному застосунку «Сільпо» стартував розіграш прикраси
                «Donut» за донат від 30 балобонусів на збір «Плюс на життя».
              </p>
            </div>
          </div>
          <div class="decoration-modal-win-steps-list-wrap">
            <p class="decoration-modal-win-steps-list-title">
              Щоб приєднатися, достатньо зробити 3 простих кроки:
            </p>
            <ul class="decoration-modal-win-steps-list">
              <li class="decoration-modal-win-steps-list-item">
                <div class="decoration-modal-win-steps-list-step-wrap">
                  <div class="decoration-modal-win-steps-list-step-number-wrap">
                    <p class="decoration-modal-win-steps-list-step-number">1</p>
                  </div>
                  <p class="decoration-modal-win-steps-list-step-desc">
                    знайти розділ «Скарбничка добра» у мобільному застосунку
                    «Сільпо»;
                  </p>
                </div>
              </li>
              <li class="decoration-modal-win-steps-list-item">
                <div class="decoration-modal-win-steps-list-step-wrap">
                  <div class="decoration-modal-win-steps-list-step-number-wrap">
                    <p class="decoration-modal-win-steps-list-step-number">2</p>
                  </div>
                  <p class="decoration-modal-win-steps-list-step-desc">
                    обрати там «Рятуємо воїнів на передовій»
                  </p>
                </div>
              </li>
              <li class="decoration-modal-win-steps-list-item">
                <div class="decoration-modal-win-steps-list-step-wrap">
                  <div class="decoration-modal-win-steps-list-step-number-wrap">
                    <p class="decoration-modal-win-steps-list-step-number">3</p>
                  </div>
                  <p class="decoration-modal-win-steps-list-step-desc">
                    натиснути «допомогти» та переказати більш ніж 30
                    балобонусів.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="decoration-modal-win-final-desc-wrap">
          <p class="decoration-modal-win-final-desc-text">
            Ось і все.<br />Ви автоматично приєднуєтеся до розіграшу срібної
            прикраси «Donut» з позолотою.
          </p>
          <p class="decoration-modal-win-final-desc-text">
            Що більше переказів, то більше шансів перемогти.<br />Акція триває
            <span class="decoration-modal-win-final-desc-text-accent"
              >з 5 по 18 листопада 2024 року</span
            >.<br />Оголошення переможця: 19 листопада 2024 року
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
