<section class="donation-section">
  <div class="container donation-container">
    <div class="donation-info-wrap">
      <h1 class="donation-info-title">Збір на такмед</h1>
      <p class="donation-info-desc">
        Наша мета — зібрати 40 000 000 гривень на засоби тактичної медицини для
        підрозділів ГУР, батальйону «Вовки Да Вінчі», бригад «АЗОВ» і 3 ОШБр.
        Партнером збору є проєкт «Птахи» Тати Кеплер
      </p>
      <div class="donation-progress-wrap">
        <div class="donation-progress-title-wrap">
          <p class="donation-progress-title">Зібрано</p>
          <p class="donation-progress-title">Ціль</p>
        </div>
        <div class="donation-progress-money-wrap">
          <p class="donation-progress-money">10 589 042 ₴</p>
          <p class="donation-progress-money">40 000 000 ₴</p>
        </div>
        <div class="donation-progress-progressbar-container">
          <div class="donation-progress-progressbar-wrap">
            <div class="donation-progress-progressbar-progress"></div>
          </div>
          <p class="donation-progress-progressbar-percentage">30%</p>
        </div>
      </div>
    </div>
    <div class="donation-form-wrap">
      <p class="donation-form-title">Вкажіть суму внеску</p>
      <form class="donation-form js-donation-form">
        <label class="donation-form-input-wrap">
          <input
            name="sum"
            type="text"
            placeholder="0"
            class="donation-form-input sum js-donation-form-input-amount"
            autofocus
          />
          <span class="donation-form-input-desc currency">₴</span>
        </label>
        <ul
          class="donation-form-amount-add-btn-list js-donation-form-amount-add-btn-list"
        >
          <li class="donation-form-amount-add-btn-list-item">
            <button
              type="button"
              class="donation-form-amount-add-btn js-donation-form-amount-add-btn"
              data-amount="100"
            >
              +100 ₴
            </button>
          </li>
          <li class="donation-form-amount-add-btn-list-item">
            <button
              type="button"
              class="donation-form-amount-add-btn js-donation-form-amount-add-btn"
              data-amount="500"
            >
              +500 ₴
            </button>
          </li>
          <li class="donation-form-amount-add-btn-list-item">
            <button
              type="button"
              class="donation-form-amount-add-btn js-donation-form-amount-add-btn"
              data-amount="1000"
            >
              +1000 ₴
            </button>
          </li>
        </ul>
        <label class="donation-form-input-wrap">
          <input
            name="firstName"
            type="text"
            placeholder="Вкажіть імʼя"
            class="donation-form-input name"
          />
          <span class="donation-form-input-desc name">*опціонально</span>
        </label>
        <div class="donation-form-controls-wrap">
          <div class="donation-form-controls-mobile-services">
            <button type="submit" class="donation-form-controls-pay-btn">
              <span class="donation-form-controls-pay-btn-title"
                >Оплатити з</span
              >
              <svg class="donation-form-controls-pay-btn-icon google-pay">
                <use href="/icons/icons.svg#google-pay"></use>
              </svg>
            </button>
            <button type="submit" class="donation-form-controls-pay-btn">
              <span class="donation-form-controls-pay-btn-title"
                >Оплатити з</span
              >
              <svg class="donation-form-controls-pay-btn-icon apple-pay">
                <use href="/icons/icons.svg#apple-pay"></use>
              </svg>
            </button>
          </div>
          <p class="donation-form-controls-or-label">або</p>
          <!-- <payments-widget
            token="<?=$payWidgetData->token?>"
            branch-id="<?=$payWidgetData->branchId?>"
            callback-url="<?=$payWidgetData->callbackUrl?>"
            payment-description=""
            is-two-stage="<?=$payWidgetData->isTwoStage?>"
            merchant-id="<?=$payWidgetData->merchantID?>"
            pay-disabled="true"
            order-id="<?=$payWidgetData->orderId?>"
            order-amount="1"
            sub-merchant-id="<?=$payWidgetData->subMerchantID?>"
            wait-pre-payment-action="ture"
          >
          </payments-widget> -->
        </div>
      </form>
    </div>
  </div>
</section>
