<section class="donation-section">
  <div class="container donation-container">
    <div class="donation-info-wrap">
      <h1 class="donation-info-title">Збір на такмед</h1>
      <p class="donation-info-desc">
        Наша мета — зібрати 40 000 000 гривень на засоби тактичної медицини для
        підрозділів ГУР, батальйону «Вовки Да Вінчі», бригад «АЗОВ» і 3 ОШБр.
        Партнером збору є проєкт «Птахи» Тати Кеплер
      </p>
      <div class="donation-progress-wrap">
        <div class="donation-progress-title-wrap">
          <p class="donation-progress-title">Зібрано</p>
          <p class="donation-progress-title">Ціль</p>
        </div>
        <div class="donation-progress-money-wrap">
          <p class="donation-progress-money">10 589 042 ₴</p>
          <p class="donation-progress-money">40 000 000 ₴</p>
        </div>
        <div class="donation-progress-progressbar-container">
          <div class="donation-progress-progressbar-wrap">
            <div class="donation-progress-progressbar-progress"></div>
          </div>
          <p class="donation-progress-progressbar-percentage">3%</p>
        </div>
      </div>
    </div>
    <div class="donation-form-wrap">
      <p class="donation-form-title">Вкажіть суму внеску</p>
      <form class="donation-form">
        <label class="donation-form-input-wrap">
          <input
            type="text"
            value="0"
            placeholder="Вкажіть суму внеску"
            class="donation-form-input"
          />
          <span class="donation-form-input-desc currency">₴</span>
        </label>
        <ul class="donation-form-amount-add-btn-list">
          <li class="donation-form-amount-add-btn-list-item">
            <button type="button" class="donation-form-amount-add-btn">
              +100 ₴
            </button>
          </li>
          <li class="donation-form-amount-add-btn-list-item">
            <button type="button" class="donation-form-amount-add-btn">
              +500 ₴
            </button>
          </li>
          <li class="donation-form-amount-add-btn-list-item">
            <button type="button" class="donation-form-amount-add-btn">
              +1000 ₴
            </button>
          </li>
        </ul>
        <label class="donation-form-input-wrap">
          <input
            type="text"
            placeholder="Вкажіть імʼя"
            class="donation-form-input"
          />
          <span class="donation-form-input-desc name">*опціонально</span>
        </label>
        <div class="donation-form-controls-wrap">
          <div class="donation-form-controls-mobile-services">
            <button type="submit" class="donation-form-controls-pay-btn">
              <span class="donation-form-controls-pay-btn-title"
                >Оплатити з</span
              >
              <svg class="donation-form-controls-pay-btn-icon">
                <use href="/icons/icons.svg#google-pay"></use>
              </svg>
            </button>
            <button type="submit" class="donation-form-controls-pay-btn">
              <span class="donation-form-controls-pay-btn-title"
                >Оплатити з</span
              >
              <svg class="donation-form-controls-pay-btn-icon">
                <use href="/icons/icons.svg#apple-pay"></use>
              </svg>
            </button>
          </div>
          <p class="donation-form-controls-or-label">або</p>
          <button type="submit" class="donation-form-submit-btn">
            <span class="donation-form-submit-btn-title">Оплатити карткою</span>
            <svg class="donation-form-submit-btn-icon">
              <use href="/icons/icons.svg#bank-card"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
