<div
  class="donation-modal-win-backdrop-wrap js-donation-modal-win js-donation-modal-win-backdrop-wrap is-hidden"
>
  <div class="donation-modal-win-backdrop js-donation-modal-win-backdrop">
    <div class="donation-modal-win">
      <button
        type="button"
        class="donation-modal-win-close-btn js-donation-modal-win-close-btn"
      >
        <svg class="donation-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="donation-modal-win-container js-donation-modal-win-container">
        <!-- content -->
        <iframe
          class="donation-modal-win-iframe js-donation-modal-win-iframe"
          srcdoc="   <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fuga
          quam exercitationem sapiente consectetur blanditiis fugiat ipsum id ad
          similique commodi vel quod esse obcaecati sunt autem earum unde,
          laudantium mollitia magnam repellendus temporibus voluptatem facere!
          Modi enim sequi harum vel tempora ratione magni saepe, eum voluptate.
          Deserunt, porro illo consectetur quam ad adipisci eveniet hic? Ab quis
          consequatur debitis iusto harum saepe earum! Totam qui beatae eos
          delectus dicta eius inventore, repellendus id ex provident praesentium
          nisi minus dolores! Ipsum, sunt quas? Magnam optio quisquam sunt. At a
          ipsa aut cumque eius quaerat delectus numquam assumenda corrupti
          quibusdam! Voluptate, neque autem consequatur ducimus fugiat inventore
          delectus, eos nulla soluta quaerat porro, nemo aliquid nostrum
          doloribus unde esse obcaecati fugit asperiores incidunt eaque rerum
          quas. Quia esse consequuntur explicabo hic? Doloremque harum, dolores
          quis accusantium modi laboriosam? Aspernatur rem odio nulla, fuga
          explicabo quasi pariatur quaerat. Vitae a laudantium, culpa aliquid
          sapiente atque possimus accusantium voluptatum quod dolor saepe
          officia eum veritatis, excepturi obcaecati rem velit cupiditate
          doloremque quia! Earum, optio impedit, consequuntur deleniti
          exercitationem delectus laboriosam suscipit inventore harum ut cum
          facilis animi culpa beatae iste ipsa corporis illum. Corrupti,
          obcaecati consectetur. Totam suscipit provident nisi voluptatibus
          reprehenderit facilis enim, corporis voluptatem odit adipisci
          similique! Quod provident, molestiae modi non eos doloremque aliquid
          ad reprehenderit officiis obcaecati aperiam quia veritatis voluptate
          veniam animi rem labore perspiciatis inventore optio quas cupiditate
          laudantium fugiat? Blanditiis asperiores aliquam expedita architecto
          deserunt harum saepe ipsum repellendus error pariatur laboriosam autem
          repudiandae, distinctio tempora odio at necessitatibus! Illo eligendi
          tenetur repellat a illum necessitatibus in dolore nihil iste
          similique, itaque perferendis vel dolorem nisi iusto recusandae
          deserunt unde iure placeat error. Excepturi asperiores placeat sed
          accusamus totam quas suscipit maiores quibusdam, nobis iste
          necessitatibus! Placeat possimus numquam molestias similique sunt
          dicta delectus eos sit impedit eveniet cupiditate asperiores tenetur,
          animi enim? Amet id culpa adipisci iste assumenda autem ex ipsa sed
          numquam voluptates nostrum hic suscipit, aperiam cumque sunt dolorem
          minima vitae placeat porro obcaecati aliquid mollitia. Excepturi,
          quasi! Iusto optio dignissimos consequuntur in, dicta est dolores,
          quasi fuga error temporibus aut placeat reprehenderit quibusdam? Autem
          animi optio error veniam quasi minus necessitatibus, architecto at
          adipisci ducimus eius explicabo. At necessitatibus eum accusantium
          corrupti, repellendus eos? Error molestias blanditiis ea, hic quos,
          pariatur obcaecati provident, laudantium voluptates ab necessitatibus
          itaque facere quaerat minus dolor. Odio laboriosam error doloremque.
          Possimus temporibus at consectetur est. Modi officiis eum nemo beatae
          mollitia recusandae dolor quo quidem aliquid adipisci labore,
          distinctio sequi impedit libero itaque saepe ut eos quae aspernatur
          perspiciatis eius doloribus velit quam reprehenderit. Architecto, ad
          id voluptatibus reprehenderit quas eum nesciunt delectus obcaecati
          esse assumenda natus animi sunt libero dignissimos distinctio, quae
          dolorem ex nisi nobis laudantium quibusdam. Iste sint, placeat ad
          totam dolores ipsam eius. Laboriosam asperiores, minus ullam tenetur
          repellendus quis facilis perspiciatis placeat maiores error.
          Exercitationem, facere fuga voluptatum optio mollitia sed. Magnam,
          beatae culpa. Excepturi illo, optio quidem eveniet labore obcaecati
          eius earum quaerat recusandae rerum sint perferendis, ipsum similique
          impedit atque nisi aliquid magnam alias laborum laudantium suscipit
          quam aut corrupti! Veritatis, vitae culpa quibusdam adipisci maiores
          laboriosam repudiandae perspiciatis doloremque, dicta quidem qui esse
          exercitationem, asperiores neque minima aliquid quae soluta animi at
          ipsum architecto rem eaque id quos! Eligendi eos tempore delectus,
          facere, ipsum illum soluta, omnis molestiae quia veniam id. Eius quos
          alias veritatis sapiente cumque provident et beatae modi ipsam odio ut
          exercitationem nostrum enim aliquid ipsa debitis architecto maiores
          fuga velit impedit necessitatibus, reiciendis asperiores? Doloribus
          voluptate sint nisi molestias pariatur tenetur. Eum illo, nulla
          accusantium ratione ullam ea necessitatibus dolorum eos explicabo
          culpa. Blanditiis deleniti architecto hic corporis quas praesentium
          alias repellat, quaerat perspiciatis, cum voluptates aliquid, quos
          nihil itaque suscipit sapiente corrupti laborum. Ducimus similique sed
          quidem, ipsa earum numquam quasi accusamus nesciunt? Amet in animi
          delectus perferendis alias magnam ipsum voluptates dolore id obcaecati
          beatae aut pariatur, numquam quisquam reiciendis, ex consequatur ab!
          Distinctio accusamus recusandae laboriosam iste, praesentium possimus
          dolorum sint quisquam ullam suscipit a nisi maiores est delectus!
          Neque officiis vel voluptates adipisci et veniam perspiciatis. A
          pariatur possimus ipsam voluptatem sit praesentium doloribus
          cupiditate exercitationem soluta dolore tempore facere expedita
          assumenda dicta iusto, minus optio eius nemo similique ex, explicabo
          totam placeat at officiis. At quas totam commodi ex consequuntur cum,
          unde voluptate ducimus, quae odio numquam? Eveniet, tempore iste qui,
          quibusdam quia sapiente eius ab necessitatibus maiores ex ipsa odit,
          harum excepturi nesciunt alias! Beatae repudiandae minus, totam at,
          odit alias nostrum eaque ut cupiditate consectetur assumenda.
          Recusandae, doloribus molestiae beatae iure deleniti quibusdam
          aspernatur quia ipsum facere, voluptatum quidem quod ab a. Assumenda,
          asperiores nihil, nam a ducimus quam laborum similique quaerat
          reiciendis hic qui consequuntur possimus numquam debitis aliquid ea
          voluptatem consequatur exercitationem odit impedit eligendi!
          Necessitatibus ratione facilis quod explicabo neque magnam, numquam et
          illo inventore cupiditate laboriosam, consequatur incidunt animi saepe
          a aspernatur itaque rerum, corporis maiores possimus maxime quo
          laborum iste? Deserunt repudiandae, nulla porro error numquam ipsa,
          eos quod laudantium quae, velit rem nesciunt dicta voluptate nostrum
          incidunt mollitia harum exercitationem nihil tenetur. Ex itaque esse
          possimus perspiciatis iusto ducimus dolore tempora dolorum perferendis
          alias, quaerat ipsa deleniti vitae aliquid, illo minus tempore labore
          ullam quos expedita maiores! Architecto eveniet perferendis eos
          reiciendis provident accusamus nisi iure vitae dolorum alias ab, velit
          quos fuga quod aliquam sed dolorem soluta sapiente nobis tempore harum
          nihil reprehenderit ad? Error, voluptatum ipsum, numquam excepturi
          optio magni aperiam accusamus quis sapiente consectetur molestias non
          est. Autem iste rerum saepe eveniet repellat magnam animi beatae hic
          quaerat totam, minus nostrum optio accusamus laborum asperiores? Vitae
          beatae, praesentium quidem quisquam asperiores cum, libero vel
          voluptas consequuntur quod unde provident amet ducimus dolor? Error
          autem sit deleniti ad amet? Cum dolorum ex architecto quisquam, eos
          quo quidem asperiores necessitatibus veniam optio perferendis magni
          consequatur harum, fugit unde quis nihil temporibus, at pariatur.
          Suscipit asperiores architecto fuga non eligendi. Minima incidunt
          commodi in quibusdam enim provident velit quo iusto? Molestiae itaque
          eligendi exercitationem dolore, laudantium consequuntur. Praesentium
          sed aliquam aliquid!
        </p>"
        ></iframe>
      </div>
    </div>
  </div>
</div>
