<footer class="footer">
  <div class="container footer-container">
    <a href="/" class="footer-link">
      <svg class="footer-link-icon">
        <use href="/icons/icons.svg#footer-logo"></use>
      </svg>
    </a>
    <ul class="footer-social-links-list">
      <li class="footer-social-links-list-item">
        <a
          href="/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="footer-social-link"
        >
          <svg class="footer-social-link-icon facebook">
            <use href="/icons/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-links-list-item">
        <a
          href="/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="footer-social-link"
        >
          <svg class="footer-social-link-icon telegram">
            <use href="/icons/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-links-list-item">
        <a
          href="/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="footer-social-link"
        >
          <svg class="footer-social-link-icon instagram">
            <use href="/icons/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-text-wrap">
      <p class="footer-text-silpo">© Silpo, 2024</p>
      <a
        href="https://sun.agency"
        target="_blank"
        rel="noopener noopener nofollow"
        class="footer-text-sun"
        >Зроблено Сонцем ●</a
      >
    </div>
  </div>
</footer>
