<section class="goods-section" id="goods">
  <div class="container goods-container">
    <h2 class="section-title goods-title">Що купуємо</h2>
    <div class="swiper goods-slider goods-mobile">
      <ul class="swiper-wrapper goods-slider-wrapper">
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#turnstile"></use>
              </svg>
              <p class="goods-card-title-text">Турнікети C.A.T.</p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">15 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">237 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#hemostatic-bandage"></use>
              </svg>
              <p class="goods-card-title-text">
                кровоспинний Z-бинт ГЕМОСТАТИК
              </p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">15 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">237 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#hemostatic-applicator"></use>
              </svg>
              <p class="goods-card-title-text">
                Кровоспинний аплікатор RevMedx XSTAT-P30
              </p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">17 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">600 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#occlusal-sticker"></use>
              </svg>
              <p class="goods-card-title-text">Оклюзійна наліпка HyFin Vent</p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">20 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">800 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#ventilator-bag"></use>
              </svg>
              <p class="goods-card-title-text">
                Мішки для штучної вентиляції легенів BVM
              </p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">1 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">0 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#intraosseous-access"></use>
              </svg>
              <p class="goods-card-title-text">
                Доступи внутрішньокісткові NIO
              </p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">1 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">0 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#compression-bandage"></use>
              </svg>
              <p class="goods-card-title-text">Бандаж компресійний</p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">20 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">800 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#thermal-blanket"></use>
              </svg>
              <p class="goods-card-title-text">ТЕРМОКОВДРА MIL-TEC</p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">3 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">20 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#draggers-for-evacuation"></use>
              </svg>
              <p class="goods-card-title-text">Ноші волокуші для евакуації</p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">1 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">0 шт.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide goods-slider-slide">
          <div class="goods-card">
            <div class="goods-card-title">
              <svg class="goods-card-title-icon">
                <use href="/icons/icons.svg#combat-medic-backpacks"></use>
              </svg>
              <p class="goods-card-title-text">Наплічники бойового медика</p>
            </div>
            <div class="goods-card-desc">
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Ціль</p>
                <p class="goods-card-desc-quantity">3 000 шт.</p>
              </div>
              <div class="goods-card-desc-wrap">
                <p class="goods-card-desc-title">Вже закуплено</p>
                <p class="goods-card-desc-quantity">20 шт.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <button
      class="goods-make-donation-btn goods-mobile hiddenBtn"
      type="button"
    >
      <span class="goods-make-donation-btn-title"> Зробити внесок</span>
      <svg class="goods-make-donation-btn-icon">
        <use href="/icons/icons.svg#plus"></use>
      </svg>
    </button>
    <ul class="goods-list">
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#turnstile"></use>
            </svg>
            <p class="goods-card-title-text">Турнікети C.A.T.</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">15 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">237 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#hemostatic-bandage"></use>
            </svg>
            <p class="goods-card-title-text">кровоспинний Z-бинт ГЕМОСТАТИК</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">15 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">237 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item"></li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#hemostatic-applicator"></use>
            </svg>
            <p class="goods-card-title-text">
              Кровоспинний аплікатор RevMedx XSTAT-P30
            </p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">17 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">600 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#occlusal-sticker"></use>
            </svg>
            <p class="goods-card-title-text">Оклюзійна наліпка HyFin Vent</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">20 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">800 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#ventilator-bag"></use>
            </svg>
            <p class="goods-card-title-text">
              Мішки для штучної вентиляції легенів BVM
            </p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">1 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">0 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#intraosseous-access"></use>
            </svg>
            <p class="goods-card-title-text">Доступи внутрішньокісткові NIO</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">1 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">0 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#compression-bandage"></use>
            </svg>
            <p class="goods-card-title-text">Бандаж компресійний</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">20 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">800 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item make-donation">
        <button class="goods-make-donation-btn hiddenBtn" type="button">
          <span class="goods-make-donation-btn-title"> Зробити внесок</span>
          <svg class="goods-make-donation-btn-icon">
            <use href="/icons/icons.svg#plus"></use>
          </svg>
        </button>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#thermal-blanket"></use>
            </svg>
            <p class="goods-card-title-text">ТЕРМОКОВДРА MIL-TEC</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">3 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">20 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#draggers-for-evacuation"></use>
            </svg>
            <p class="goods-card-title-text">Ноші волокуші для евакуації</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">1 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">0 шт.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="goods-list-item">
        <div class="goods-card">
          <div class="goods-card-title">
            <svg class="goods-card-title-icon">
              <use href="/icons/icons.svg#combat-medic-backpacks"></use>
            </svg>
            <p class="goods-card-title-text">Наплічники бойового медика</p>
          </div>
          <div class="goods-card-desc">
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Ціль</p>
              <p class="goods-card-desc-quantity">3 000 шт.</p>
            </div>
            <div class="goods-card-desc-wrap">
              <p class="goods-card-desc-title">Вже закуплено</p>
              <p class="goods-card-desc-quantity">20 шт.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
