<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-turnstile"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Турнікети C.A.T. Gen7</p>
            <p class="goods-modal-win-desc">
              CAT (Combat-Application-Tourniquet) Generation 7 - останнє
              покоління всесвітньо відомого джгута САТ. Джгут САТ 7 покоління -
              це одне з найкращих засобів для зупинки життєзагрозливих кровотеч
              кінцівок.
            </p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Довжина у відкритому вигляді: 95 см
                  </p>
                </li>
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Габарити упаковки: 16,5х5х3 см
                  </p>
                </li>
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Фірма-виробник: North American Rescue
                  </p>
                </li>
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Країна-виробник: США
                  </p>
                </li>
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Термін придатності: не обмежений
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">
              У 7 генерації турнікета CAT частково була змінена конструкція
              самого джгута: оновлена пряжка, збільшений компресорій, збільшені
              елементи фіксації, покращено кріплення велкро і транспортний
              маячок. Джгут САТ 7 покоління - це одне з найкращих засобів для
              зупинки життєзагрозливих кровотеч кінцівок. Військовослужбовці
              США, а також інших країн-союзників альянсу НАТО, співробітники
              приватних військових компаній зробили свій вибір на користь нового
              високоякісного турнікета САТ.
            </p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-hemostatic-bandage"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">кровоспинний Z-бинт ГЕМОСТАТИК</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-hemostatic-applicator"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Кровоспинний аплікатор</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-occlusal-sticker"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Оклюзійна наліпка</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-ventilator-bag"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">
              Мішки для штучної вентиляції легенів
            </p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-intraosseous-access"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Доступи внутрішньокісткові</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-compression-bandage"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Бандаж компресійний</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-thermal-blanket"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">ТЕРМОКОВДРА</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-draggers-for-evacuation"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Ноші волокуші для евакуації</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="goods-modal-win-backdrop-wrap js-goods-modal-win js-goods-modal-win-backdrop-wrap is-hidden js-combat-medic-backpacks"
>
  <div class="goods-modal-win-backdrop js-goods-modal-win-backdrop">
    <div class="goods-modal-win">
      <button
        type="button"
        class="goods-modal-win-close-btn js-goods-modal-win-close-btn"
      >
        <svg class="goods-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="goods-modal-win-container">
        <div class="goods-modal-win-content-wrap">
          <div class="goods-modal-win-title-wrap">
            <p class="goods-modal-win-title">Наплічники бойового медика</p>
            <p class="goods-modal-win-desc">Опис</p>
          </div>
          <div class="goods-modal-win-sections-wrap">
            <ul
              class="goods-modal-win-sections-list js-goods-modal-win-sections-list"
            >
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="characteristics"
                    checked
                  />
                  <span class="goods-modal-win-section-title"
                    >Характеристики</span
                  >
                </label>
              </li>
              <li class="goods-modal-win-sections-list-item">
                <label class="goods-modal-win-section-name-wrap">
                  <span class="goods-modal-win-section-title">Документи</span>
                  <input
                    class="hidden-element"
                    type="radio"
                    name="goods-modal-win-section"
                    value="documents"
                  />
                </label>
              </li>
            </ul>
            <div
              class="goods-modal-win-target-section js-goods-modal-win-target-section js-characteristics"
            >
              <ul
                class="goods-modal-win-characteristics-list js-characteristics"
              >
                <li class="goods-modal-win-characteristics-list-item">
                  <p class="goods-modal-win-characteristics-title">
                    Характеристики
                  </p>
                </li>
              </ul>
              <p class="js-documents">Документи</p>
            </div>
          </div>
          <div class="goods-modal-win-explanation">
            <p class="goods-modal-win-explanation-title">
              Як це допоможе військовим?
            </p>
            <p class="goods-modal-win-explanation-desc">текст</p>
          </div>
        </div>
        <div class="goods-modal-win-media-wrap">
          <div class="goods-modal-win-img-wrap">
            <img
              src="/images/goods/turnstile.jpg"
              alt="товар"
              class="goods-modal-win-img"
            />
          </div>
          <div class="goods-modal-win-video-wrap">
            <video
              class="goods-modal-win-video"
              src="/video/goods/turnstile.mp4"
              controls
              preload="auto"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
