<header class="header" data-aos="fade-down">
  <div class="container header-container">
    <button type="button" class="mobile-menu-btn js-mobile-menu-toggle">
      <svg class="mobile-menu-btn-icon">
        <use href="/icons/icons.svg#burger-menu"></use>
      </svg>
    </button>
    <div class="header-content-wrap">
      <nav class="nav">
        <a href="/" class="header-logo-link">
          <svg class="header-logo-icon">
            <use href="/icons/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="header-menu">
          <li class="menu-item">
            <a href="#statistics" class="menu-link"
              ><span class="menu-link-title">Зібрано</span></a
            >
          </li>
          <li class="menu-item">
            <a href="#goods" class="menu-link"
              ><span class="menu-link-title">Що купуємо</span></a
            >
          </li>
          <li class="menu-item">
            <a href="#how-to-support" class="menu-link"
              ><span class="menu-link-title">Як підтримати</span></a
            >
          </li>
          <li class="menu-item">
            <a href="#results" class="menu-link"
              ><span class="menu-link-title">Результати</span></a
            >
          </li>
          <li class="menu-item">
            <a href="#questions" class="menu-link"
              ><span class="menu-link-title">Часті запитання</span></a
            >
          </li>
          <li class="menu-item">
            <a href="/" class="menu-link icon support">
              <span class="menu-link-title">Сільпо допомагає</span>
              <svg class="menu-link-icon">
                <use href="/icons/icons.svg#nav-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header-contribution-btn hiddenBtn">
        <span class="header-contribution-btn-title">Зробити внесок</span>
        <svg class="header-contribution-btn-icon">
          <use href="/icons/icons.svg#plus"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
