<section class="hero-section">
  <div class="container">
    <h1 class="hero-title" data-aos="fade-up">
      Рятуємо життя військових<br />на передовій
    </h1>
    <p class="hero-desc" data-aos="fade-up">
      1 гривню з продажу кожного з 500+ товарів передаємо на тактичну медицину
    </p>
    <div class="hero-basket-img-wrap">
      <img
        src="/images/hero/basket-of-goods.png"
        alt="корзина товарів"
        class="hero-basket-img"
        data-aos="zoom-in"
      />
      <img
        src="/images/hero/top-plus.png"
        alt="декоративне зображення"
        class="hero-top-plus-img"
        data-aos="fade-down"
      />
      <img
        src="/images/hero/left-plus.png"
        alt="декоративне зображення"
        class="hero-left-plus-img"
        data-aos="fade-down"
      />
      <img
        src="/images/hero/bottom-plus.png"
        alt="декоративне зображення"
        class="hero-bottom-plus-img"
        data-aos="fade-down"
      />
      <img
        src="/images/hero/right-plus.png"
        alt="декоративне зображення"
        class="hero-right-plus-img"
        data-aos="fade-down"
      />
    </div>
    <svg class="hero-left-hand-mobile-icon" data-aos="fade-up-right">
      <use href="/icons/icons.svg#left-hand-mobile"></use>
    </svg>
    <svg class="hero-left-hand-desk-icon" data-aos="fade-up-right">
      <use href="/icons/icons.svg#left-hand-desk"></use>
    </svg>
    <svg class="hero-right-hand-mobile-icon" data-aos="fade-down-left">
      <use href="/icons/icons.svg#right-hand-mobile"></use>
    </svg>
    <svg class="hero-right-hand-desk-icon" data-aos="fade-down-left">
      <use href="/icons/icons.svg#right-hand-desk"></use>
    </svg>
  </div>
</section>
