<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">Рятуємо життя військових<br />на передовій</h1>
    <p class="hero-desc">
      Передаємо кошти з продажу товарів проекту &#8220;Птахи&#8221; на тактичну
      медицину
    </p>
    <div class="hero-basket-img-wrap">
      <img
        src="/images/hero/basket-of-goods.png"
        alt="корзина товарів"
        class="hero-basket-img"
      />
      <img
        src="/images/hero/top-plus.png"
        alt="декоративне зображення"
        class="hero-top-plus-img"
      />
      <img
        src="/images/hero/left-plus.png"
        alt="декоративне зображення"
        class="hero-left-plus-img"
      />
      <img
        src="/images/hero/bottom-plus.png"
        alt="декоративне зображення"
        class="hero-bottom-plus-img"
      />
      <img
        src="/images/hero/right-plus.png"
        alt="декоративне зображення"
        class="hero-right-plus-img"
      />
    </div>
    <svg class="hero-left-hand-mobile-icon">
      <use href="/icons/icons.svg#left-hand-mobile"></use>
    </svg>
    <svg class="hero-left-hand-desk-icon">
      <use href="/icons/icons.svg#left-hand-desk"></use>
    </svg>
    <svg class="hero-right-hand-mobile-icon">
      <use href="/icons/icons.svg#right-hand-mobile"></use>
    </svg>
    <svg class="hero-right-hand-desk-icon">
      <use href="/icons/icons.svg#right-hand-desk"></use>
    </svg>
  </div>
</section>
