<section class="how-to-support-section" id="how-to-support">
  <div class="how-to-support-section-bg">
    <div class="container how-to-support-container">
      <h2 class="section-title how-to-support-title">Як підтримати</h2>
      <div class="how-to-support-cards-wrap">
        <div class="how-to-support-card goods" data-aos="zoom-in">
          <p class="how-to-support-card-number goods">1</p>
          <p class="how-to-support-card-desc goods">
            Купуйте в супермаркетах «Сільпо» та на
            <a
              href="https://shop.silpo.ua/sets/plius-na-zhyttia"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >shop.silpo.ua</a
            >
            товари зі спеціальними позначками
          </p>
        </div>
        <div class="how-to-support-card donat" data-aos="zoom-in">
          <p class="how-to-support-card-number"></p>
          <!-- <p class="how-to-support-card-number">2</p> -->
          <!-- <p class="how-to-support-card-desc">Зробіть внесок прямо зараз</p> -->
          <p class="how-to-support-card-desc"></p>

          <button
            type="button"
            class="how-to-support-make-donation-btn hiddenBtn"
          >
            <span class="how-to-support-make-donation-btn-title"
              >Зробити внесок</span
            ><svg class="how-to-support-make-donation-btn-icon">
              <use href="/icons/icons.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="how-to-support-card bonuses" data-aos="zoom-in">
          <!-- <p class="how-to-support-card-number">3</p> -->
          <p class="how-to-support-card-number">2</p>
          <svg class="how-to-support-card-heart-icon">
            <use href="/icons/icons.svg#heart"></use>
          </svg>
          <p class="how-to-support-card-desc bonuses">
            Перекажіть балобонуси в
            <a
              href="https://silpo.ua/app.html"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >мобільному застосунку Сільпо</a
            >. Для цього зайдіть у Скарбничку добра та виберіть «Рятуємо воїнів
            на передовій».
          </p>
        </div>
        <div class="how-to-support-card collection" data-aos="zoom-in">
          <div class="how-to-support-label"></div>
          <p class="how-to-support-card-number">3</p>
          <p class="how-to-support-card-desc collection">
            Замовляючи
            <a
              href="https://silpo.page.link/9JAA7oHuCaUhHiou9"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >доставку LOKO</a
            >, вибирайте товари зі спеціальною позначкою
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
