<section class="how-to-support-section" id="how-to-support">
  <div class="how-to-support-section-bg">
    <div class="container how-to-support-container">
      <h2 class="section-title how-to-support-title">Як підтримати</h2>
      <div class="how-to-support-cards-wrap">
        <div class="how-to-support-card goods" data-aos="zoom-in">
          <p class="how-to-support-card-number goods">1</p>
          <div class="how-to-support-card-img-wrap">
            <svg class="how-to-support-card-plus-for-life-icon">
              <use
                href="/icons/icons.svg#how-to-support-card-plus-for-life"
              ></use>
            </svg>
            <svg class="how-to-support-card-silpo-icon">
              <use href="/icons/icons.svg#how-to-support-card-silpo"></use>
            </svg>
          </div>
          <p class="how-to-support-card-desc goods">
            Під час покупок у Сільпо обирайте товари зі спеціальним підцінником
            <a
              href="https://shop.silpo.ua/sets/plius-na-zhyttia "
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >«Плюс на життя»</a
            >
          </p>
        </div>
        <div class="how-to-support-card donat" data-aos="zoom-in">
          <p class="how-to-support-card-number"></p>
          <!-- <p class="how-to-support-card-number">2</p> -->
          <!-- <p class="how-to-support-card-desc">Зробіть внесок прямо зараз</p> -->
          <p class="how-to-support-card-desc"></p>

          <button
            type="button"
            class="how-to-support-make-donation-btn hiddenBtn"
          >
            <span class="how-to-support-make-donation-btn-title"
              >Зробити внесок</span
            ><svg class="how-to-support-make-donation-btn-icon">
              <use href="/icons/icons.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="how-to-support-card bonuses" data-aos="zoom-in">
          <!-- <p class="how-to-support-card-number">3</p> -->
          <p class="how-to-support-card-number">2</p>
          <svg class="how-to-support-card-heart-icon">
            <use href="/icons/icons.svg#heart"></use>
          </svg>
          <p class="how-to-support-card-desc bonuses">
            Перерахуйте балобонуси в
            <a
              href="https://silpo.ua/app.html"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >мобільному застосунку Сільпо</a
            >. Для цього зайдіть у Скарбничку добра та виберіть «Рятуємо воїнів
            на передовій».
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
