<section class="how-to-support-section" id="how-to-support">
  <div class="how-to-support-section-bg">
    <div class="container how-to-support-container">
      <h2 class="section-title how-to-support-title">Як підтримати</h2>
      <div class="how-to-support-cards-wrap">
        <div class="how-to-support-card goods" data-aos="zoom-in">
          <p class="how-to-support-card-number goods">1</p>
          <div class="how-to-support-card-img-wrap">
            <img
              src="/images/howToSupport/plus-for-life.png"
              alt="Логотип Плюс на життя"
              class="how-to-support-card-plus-for-life-img"
            />
            <img
              src="/images/howToSupport/silpo.png"
              alt="Логотип Сільпо"
              class="how-to-support-card-silpo-img"
            />
          </div>
          <p class="how-to-support-card-desc goods">
            Купуєте товар з позначкою &#8220;Плюс на життя&#8221; в
            <a
              href="https://shop.silpo.ua/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >мережі магазинів Сільпо</a
            >
            в період з 15.06 по 31.12
          </p>
        </div>
        <div class="how-to-support-card donat" data-aos="zoom-in">
          <p class="how-to-support-card-number">2</p>
          <p class="how-to-support-card-desc">Зробіть внесок прямо зараз</p>
          <button
            type="button"
            class="how-to-support-make-donation-btn hiddenBtn"
          >
            <span class="how-to-support-make-donation-btn-title"
              >Зробити внесок</span
            ><svg class="how-to-support-make-donation-btn-icon">
              <use href="/icons/icons.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="how-to-support-card bonuses" data-aos="zoom-in">
          <p class="how-to-support-card-number">3</p>
          <svg class="how-to-support-card-heart-icon">
            <use href="/icons/icons.svg#heart"></use>
          </svg>
          <p class="how-to-support-card-desc bonuses">
            Перерахуйте балобонуси в
            <a
              href="https://play.google.com/store/apps/details?id=ua.silpo.android&hl=uk&pli=1"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="how-to-support-card-desc-link"
              >мобільному застосунку Сільпо</a
            >
            на збір "Рятуємо воїнів на передовій"
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
