<div class="mobile-menu is-hidden js-mobile-menu">
  <div class="mobile-menu-header">
    <div class="container mobile-menu-container">
      <button type="button" class="mobile-menu-close-btn js-mobile-menu-toggle">
        <svg class="mobile-menu-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <a href="/" class="mobile-menu-logo-link">
        <svg class="mobile-menu-logo-link-icon">
          <use href="/icons/icons.svg#logo"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="mobile-menu-menu">
    <div class="container mobile-menu-container">
      <ul
        class="mobile-menu-links-list js-mobile-menu-links-list js-main-navigation"
      >
        <li class="mobile-menu-links-list-item">
          <a
            href="#statistics"
            class="mobile-menu-links-list-link js-mobile-menu-links-list-link js-main-navigation-link"
            >Зібрано</a
          >
        </li>
        <li class="mobile-menu-links-list-item">
          <a
            href="#goods"
            class="mobile-menu-links-list-link js-mobile-menu-links-list-link js-main-navigation-link"
            >На що збираємо</a
          >
        </li>
        <li class="mobile-menu-links-list-item">
          <a
            href="#how-to-support"
            class="mobile-menu-links-list-link js-mobile-menu-links-list-link js-main-navigation-link"
            >Як підтримати</a
          >
        </li>
        <!-- <li class="mobile-menu-links-list-item">
          <a
            href="#results"
            class="mobile-menu-links-list-link js-mobile-menu-links-list-link"
            >Результати</a
          >
        </li> -->
        <li class="mobile-menu-links-list-item">
          <a
            href="#questions"
            class="mobile-menu-links-list-link js-mobile-menu-links-list-link js-main-navigation-link"
            >Часті запитання</a
          >
        </li>
        <li class="mobile-menu-links-list-item">
          <a
            href="#contacts"
            class="mobile-menu-links-list-link js-mobile-menu-links-list-link js-main-navigation-link"
            >Контакти</a
          >
        </li>
        <li class="mobile-menu-links-list-item">
          <a href="/socialsilpo" class="mobile-menu-links-list-link support">
            <span class="mobile-menu-links-list-link-title"
              >Соціальні проєкти</span
            >
            <svg class="mobile-menu-links-list-link-icon">
              <use href="/icons/icons.svg#nav-arrow"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="mobile-menu-social-links-list">
        <li class="mobile-menu-social-links-list-item">
          <a
            href="https://www.facebook.com/silpo"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="mobile-menu-social-link"
          >
            <svg class="mobile-menu-social-link-icon facebook">
              <use href="/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-links-list-item">
          <a
            href="https://t.me/silposilpo"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="mobile-menu-social-link"
          >
            <svg class="mobile-menu-social-link-icon telegram">
              <use href="/icons/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-links-list-item">
          <a
            href="https://www.instagram.com/silpoua?igsh=MzRlODBiNWFlZA=="
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="mobile-menu-social-link"
          >
            <svg class="mobile-menu-social-link-icon instagram">
              <use href="/icons/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="/donation" class="mobile-menu-make-donation-btn hiddenBtn">
        <span class="mobile-menu-make-donation-btn-title">Зробити внесок</span
        ><svg class="mobile-menu-make-donation-btn-icon">
          <use href="/icons/icons.svg#plus"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
