<section class="questions-section" id="questions">
  <div class="container questions-container">
    <h2 class="section-title questions-title">Часті запитання</h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Кому будуть передані засоби такмеду?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Засоби тактичної медицини, які закуповуються під час збору будуть
              передані медикам ГУР, батальйону «Вовки Да Вінчі», бригад «АЗОВ» і
              3 ОШБр.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Хто перевіряє якість засобів, які ви передаєте</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Контроль за якістю закуплених засобів тактичної медицини
              здійснюватимуть інструктори проєкту «Птахи» спільно з
              кваліфікованими медиками.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Навіщо збирати кошти на такмед, якщо цим всім забезпечує
              держава?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              На жаль, для своєчасного надання допомоги військовим потрібно
              значно більше засобів такмеду, ніж забезпечується коштом
              державного фінансування.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Чому партнером збору є проєкт «Птахи»?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap big">
            <p class="questions-answer">
              Проєкт «Птахи» Тати Кеплер має багатолітню експертизу та знання з
              підтримки військових. Тата надає допомогу Силам оборони України з
              2014 року. За цей час вона створила потужний ресурс для подальшої
              підтримки армії та мирного населення завдяки внескам прямих
              донорів. Після повномасштабного вторгнення волонтерство Тати
              Кеплер переросло в окремий самостійний проєкт «Птахи», навколо
              якого згуртувалися однодумці. Організаційну підтримку проєкт
              здійснює Благодійна організація Благодійний фонд «Відчуй».
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Які товари потрібно купувати, щоб долучитися до збору?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              У зборі беруть участь понад 500 товарів на полицях усіх
              супермаркетів «Сільпо» та у онлайн-магазині shop.silpo.ua. Вони
              виділені спеціальними підцінниками з позначкою «Плюс на життя».
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
