<section class="questions-section">
  <div class="container questions-container">
    <h2 class="section-title questions-title">Часті запитання</h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title">_________</span>
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#question-arrow"></use>
            </svg>
          </button>
          <p class="questions-answer">______</p>
        </div>
      </li>
      <li class="questions-list-item">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title">_________</span>
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#plus"></use>
            </svg>
          </button>
          <p class="questions-answer">______</p>
        </div>
      </li>
    </ul>
  </div>
</section>
