<section class="questions-section" id="questions">
  <div class="container questions-container">
    <h2 class="section-title questions-title">Часті запитання</h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Навіщо військовим системи тактичної медицини?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <p class="questions-answer">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti,
            alias?
          </p>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Хто отримає цю допомогу?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <p class="questions-answer">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Dignissimos, sequi?
          </p>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Коли перші аптечки вже будуть у військових?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <p class="questions-answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
            totam?
          </p>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Хто перевіряє, як працює обладнання, яке ви передаєте?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <p class="questions-answer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est,
            perferendis.
          </p>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div
          class="questions-question-wrap hidden-desc js-questions-question-wrap"
        >
          <button
            type="button"
            class="questions-question-btn js-questions-question-btn"
          >
            <span class="questions-question-btn-title"
              >Чи є альтернативні способи допомогти?</span
            >
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <p class="questions-answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
            perspiciatis?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
