<section class="rules-section" id="rules">
  <div class="container rules-container">
    <h2 class="section-title rules-title">Офіційні правила збору</h2>
    <a
      class="rules-link"
      href="/documents/rules.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="rules-link-title">Читати правила</span>
      <span class="rules-link-icon-wrap">
        <svg class="rules-link-icon">
          <use href="/icons/icons.svg#card-nav-arrow"></use>
        </svg>
      </span>
    </a>
  </div>
</section>
