<section class="statistics-section" id="statistics">
  <div class="statistics-section-bg">
    <div class="container statistics-container">
      <h2 class="hidden-element">Статистика</h2>
      <div class="statistics-goods-text-wrap">
        <p class="statistics-goods-text">
          <span class="statistics-goods-quantity">500+</span>
          <span class="statistics-goods-title"
            >товарів беруть участь в акції</span
          >
        </p>
      </div>
      <div class="statistics-progress-wrap">
        <p class="statistics-progress-title">Зібрано</p>
        <p class="statistics-progress-money">
          <span class="statistics-progress-money-text">1</span>
          <span class="statistics-progress-money-text">662</span>
          <span class="statistics-progress-money-text">015</span>
          <span class="statistics-progress-money-text">₴</span>
        </p>
        <div class="statistics-progress-progressbar-container">
          <div class="statistics-progress-progressbar-wrap">
            <div class="statistics-progress-progressbar-progress"></div>
          </div>
          <p class="statistics-progress-progressbar-percentage">4%</p>
        </div>
      </div>
    </div>
  </div>
</section>
