<section class="support-section">
  <div class="container support-container">
    <h2 class="support-title" data-aos="fade-up">
      Підтримати ініціативу &#8220;Плюс на Життя&#8221;
    </h2>
    <button type="button" class="support-make-donation-btn hiddenBtn">
      <span class="support-make-donation-btn-title">Зробити внесок</span
      ><svg class="support-make-donation-btn-icon">
        <use href="/icons/icons.svg#plus"></use>
      </svg>
    </button>
    <ul class="support-cards-list">
      <li class="support-cards-list-item">
        <div class="support-card silpo-helps">
          <a
            href="http://plus.silpo.ua/silpohelp/"
            class="support-card-silpo-helps-link"
          >
            <span class="support-card-silpo-helps-link-title"
              >Сільпо допомагає</span
            >
            <span class="support-card-silpo-helps-link-icon-wrap">
              <svg class="support-card-silpo-helps-link-icon next">
                <use href="/icons/icons.svg#next"></use>
              </svg>
              <svg class="support-card-silpo-helps-link-icon next-arrow">
                <use href="/icons/icons.svg#next-arrow"></use>
              </svg>
            </span>
          </a>
        </div>
      </li>
      <li class="support-cards-list-item desk">
        <div class="support-card empty"></div>
      </li>
      <li class="support-cards-list-item">
        <div class="support-card heart">
          <svg class="support-card-hand-icon left-hand-mobile">
            <use href="/icons/icons.svg#support-left-hand-mobile"></use>
          </svg>
          <svg class="support-card-hand-icon right-hand-mobile">
            <use href="/icons/icons.svg#support-right-hand-mobile"></use>
          </svg>
          <svg class="support-card-hand-icon left-hand-desk">
            <use href="/icons/icons.svg#support-left-hand-desk"></use>
          </svg>
          <svg class="support-card-hand-icon right-hand-desk">
            <use href="/icons/icons.svg#support-right-hand-desk"></use>
          </svg>
        </div>
      </li>
    </ul>
    <svg
      class="support-section-bg-icon support-big-right-hand-desk-icon"
      data-aos="fade-down-left"
    >
      <use href="/icons/icons.svg#support-big-right-hand-desk"></use>
    </svg>
    <svg
      class="support-section-bg-icon support-big-right-hand-mobile-icon"
      data-aos="fade-down-left"
    >
      <use href="/icons/icons.svg#support-big-right-hand-mobile"></use>
    </svg>
    <svg
      class="support-section-bg-icon support-big-left-hand-desk-icon"
      data-aos="fade-up-right"
    >
      <use href="/icons/icons.svg#support-big-left-hand-desk"></use>
    </svg>
    <svg
      class="support-section-bg-icon support-big-left-hand-mobile-icon"
      data-aos="fade-up-right"
    >
      <use href="/icons/icons.svg#support-big-left-hand-mobile"></use>
    </svg>
  </div>
</section>
