<section class="thanks-section">
  <div class="container thanks-container">
    <h1 class="thanks-title">Дякуємо за ваш внесок у ДОПОМОГУ для ЗСУ!</h1>
    <svg class="thanks-right-hand-mobile-icon" data-aos="fade-down-left">
      <use href="/icons/icons.svg#thanks-right-hand-mobile"></use>
    </svg>
    <svg class="thanks-right-hand-desk-icon" data-aos="fade-down-left">
      <use href="/icons/icons.svg#thanks-right-hand-desk"></use>
    </svg>
    <svg class="thanks-left-hand-mobile-icon" data-aos="fade-up-right">
      <use href="/icons/icons.svg#thanks-left-hand-mobile"></use>
    </svg>
    <svg class="thanks-left-hand-desk-icon" data-aos="fade-up-right">
      <use href="/icons/icons.svg#thanks-left-hand-desk"></use>
    </svg>
    <svg class="thanks-heart-icon" data-aos="zoom-in">
      <use href="/icons/icons.svg#thanks-heart"></use>
    </svg>
  </div>
</section>
