body:has(.donation-modal-win-backdrop-wrap:not(.is-hidden)) {
  overflow: hidden;
}

.donation-modal-win-backdrop-wrap {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.donation-modal-win-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 28px;
  background-color: #f6f4ee;
}

.donation-modal-win {
  position: relative;
  height: 100%;
  background-color: #f6f4ee;
}

.donation-modal-win-close-btn {
  position: absolute;
  top: 4px;
  right: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.donation-modal-win-close-btn-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #37342b;
  transition: fill var(--transition-duration-and-func);
}

.donation-modal-win-close-btn:is(:hover, :focus)
  .donation-modal-win-close-btn-icon {
  fill: var(--accent);
}

.donation-modal-win-container {
  width: 375px;
  padding-top: 68px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.donation-modal-win-iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1310px) {
  .donation-modal-win-backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .donation-modal-win {
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
  }

  .donation-modal-win-close-btn {
    top: 32px;
    right: 40px;
  }

  .donation-modal-win-container {
    width: 1060px;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
  }
}
