.first-results-section {
  padding-top: 64px;
  padding-bottom: 40px;
}

.first-results-container {
  position: relative;
}

.first-results-content-wrap {
  margin-top: 40px;
}

.first-results-text-wrap {
  padding: 32px 30px 40px;
  border-radius: 20px;
  background-color: #fffef7;
}

.first-results-text-date {
  color: #727272;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.first-results-text-title {
  margin-top: 16px;
  color: #37342b;
  font-family: Akrobat;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
}

.first-results-text-desc {
  margin-top: 40px;
  color: #37342b;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.first-results-slider-wrap {
  position: relative;
  margin-top: 16px;
}

.first-results-slider {
  width: 100%;
  height: 229px;
  border-radius: 20px;
}

.first-results-slider-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.first-results-slider-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-results-slider .first-results-slider-slide {
  border-radius: 20px;
  overflow: hidden;
}

.first-results-slider-thumb-wrap {
  margin-top: 20px;
}

.first-results-slider-thumb {
  height: 64px;
}

.first-results-slider-thumb .first-results-slider-slide {
  opacity: 0.4;
}

.first-results-slider-thumb
  .first-results-slider-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.first-results-slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}

.first-results-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--accent);
  transition: background-color var(--transition-duration-and-func);
}

.first-results-slider-button:is(:hover, :focus) {
  background-color: var(--primary-color);
}

.first-results-slider-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

@media screen and (min-width: 1310px) {
  .first-results-section {
    padding-top: 87px;
    padding-bottom: 80px;
  }

  .first-results-content-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
  }

  .first-results-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 628px;
    padding: 32px 40px 40px;
    border-radius: 30px;
  }

  .first-results-text-title-wrap {
  }

  .first-results-text-title {
    width: 352px;
  }

  .first-results-text-desc {
    width: 478px;
    margin-top: 0;
  }

  .first-results-slider-wrap {
    margin-top: 0px;
  }

  .first-results-slider {
    width: 628px;
    height: 420px;
    border-radius: 30px;
  }

  .first-results-slider .first-results-slider-slide {
    border-radius: 30px;
  }

  .first-results-slider-thumb-wrap {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px 130px;
    backdrop-filter: blur(4px);
    margin-top: 0px;
  }

  .first-results-slider-thumb {
    height: 60px;
  }

  .first-results-slider-controls {
    position: absolute;
    top: -7px;
    right: 16px;
    margin-top: 0;
  }
}
