@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'),
    url('/fonts/akrobat/Akrobat-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'),
    url('/fonts/akrobat/Akrobat-Extrabold.otf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('/fonts/manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}
