@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'),
    url('/fonts/akrobat/Akrobat-Black.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'),
    url('/fonts/akrobat/Akrobat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('/fonts/manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('/fonts/manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('/fonts/manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('/fonts/manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}
