.support-section {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;
}

.support-container {
  position: relative;
}

.support-title {
  color: #37342b;
  font-family: Akrobat;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

.support-make-donation-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  margin-top: 271px;
  border: none;
  border-radius: 32px;
  background-color: var(--accent);
  transition: background-color var(--transition-duration-and-func);
}

.support-make-donation-btn-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  color: var(--white-color);
  font-family: Akrobat;
  font-size: 18px;
  font-weight: 900;
  line-height: 0.9;
  text-transform: uppercase;
  transform: translateX(calc(-50%)) translateY(-50%);
  transition: transform var(--transition-duration-and-func);
}

.support-make-donation-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 10px;
  height: 10px;
  fill: var(--white-color);
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity var(--transition-duration-and-func),
    transform var(--transition-duration-and-func);
}

.support-make-donation-btn:is(:hover, :focus) {
  background-color: #f04a4a;
}

.support-make-donation-btn:is(:hover, :focus)
  > .support-make-donation-btn-title {
  transform: translateX(calc(-50% - 9px)) translateY(-50%);
}

.support-make-donation-btn:is(:hover, :focus)
  > .support-make-donation-btn-icon {
  opacity: 1;
  transform: translateX(calc(-50% + 67px)) translateY(-50%);
}

.support-cards-list {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.support-cards-list-item {
}

.support-card {
  background-color: var(--white-color);
  border-radius: 20px;
}

.support-card.silpo-helps {
  background-image: url('../icons/support/silpo-helps-mobile-bg.svg');
  background-size: 658px 232px;
  background-position: -146px 30px;
  background-repeat: no-repeat;
}

.support-card-silpo-helps-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 67px 36px 101px;
}

.support-card-silpo-helps-link-title {
  color: #7ac76b;
  font-family: Akrobat;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.support-card-silpo-helps-link-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #7ac76b;
  border-radius: 50%;
}

.support-card-silpo-helps-link-icon {
  width: 35px;
  height: 35px;
  fill: var(--white-color);
}

.support-card.heart {
  position: relative;
  height: 280px;
  background-image: url('../icons/support/heart-silpo-mobile-bg.svg');
  background-size: 253px 210px;
  background-repeat: no-repeat;
  background-position: center 35px;
}

.support-card-hand-icon.left-hand-mobile {
  position: absolute;
  top: 42px;
  right: 238px;
  display: block;
  width: 188px;
  height: 107px;
  transition: right var(--transition-duration-and-func);
}

.support-card-hand-icon.right-hand-mobile {
  position: absolute;
  top: 65px;
  left: 202px;
  display: block;
  width: 163px;
  height: 137px;
  transition: left var(--transition-duration-and-func);
}

.support-section-bg-icon {
  position: absolute;
  display: block;
}

.support-big-left-hand-mobile-icon {
  top: 200px;
  right: 130px;
  width: 620px;
  height: 354px;
}

.support-big-right-hand-mobile-icon {
  top: 183px;
  left: 155px;
  width: 610px;
  height: 431px;
}

.support-contacts-wrap {
  margin-top: 16px;
  border-radius: 30px;
  padding: 40px 30px;
  background-color: #fffef7;
}

.support-contacts-title {
  color: var(--accent);
  font-family: Akrobat;
  font-size: 42px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.support-contacts-text-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.support-contacts-text {
  font-family: Manrope;
  color: #37342b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.support-contacts-text-email-link {
  color: var(--primary-color);
  text-decoration: underline;
}

.support-contacts-email-link {
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--accent);
  overflow: hidden;
}
.support-contacts-email-link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 32px;
  height: 32px;
  fill: var(--white-color);
  transform: translateX(-50%) translateY(-50%);
  transition: transform var(--transition-duration-and-func);
}

.support-nav-arrow-icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--transition-duration-and-func);
}

.support-nav-arrow-icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: var(--white-color);
}

.support-contacts-email-link:is(:hover, :focus)
  .support-contacts-email-link-icon {
  transform: translateX(100%) translateY(-50%);
}

.support-contacts-email-link:is(:hover, :focus) .support-nav-arrow-icon-wrap {
  transform: translateX(0%);
}

@media screen and (min-width: 1310px) {
  .support-section {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .support-title {
    font-size: 56px;
    line-height: 1;
  }

  .support-make-donation-btn {
    width: 202px;
    height: 62px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 31px;
  }

  .support-make-donation-btn-title {
    font-family: Akrobat;
    font-size: 16px;
    text-wrap: nowrap;
  }

  .support-make-donation-btn:is(:hover, :focus)
    > .support-make-donation-btn-icon {
    opacity: 1;
    transform: translateX(calc(-50% + 60px)) translateY(-50%);
  }

  .support-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    margin-top: 310px;
  }

  .support-card {
    background-color: var(--white-color);
    border-radius: 30px;
  }

  .support-card.silpo-helps {
    background-image: url('../icons/support/silpo-helps-desk-bg.svg');
    background-size: 658px 232px;
    background-position: -10px 15px;
    background-repeat: no-repeat;
  }

  .support-card-silpo-helps-link {
    flex-direction: row;
    padding: 112px 107px;
  }

  .support-card-silpo-helps-link-title {
    color: #7ac76b;
    font-family: Akrobat;
    font-size: 42px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  .support-card-silpo-helps-link-icon {
    transition: transform var(--transition-duration-and-func);
  }

  .support-card-silpo-helps-link:is(:hover, :focus)
    .support-card-silpo-helps-link-icon {
    transform: rotate(45deg);
  }

  .support-card-silpo-helps-link-icon.next {
    display: none;
  }

  .support-card.empty {
    flex-shrink: 0;
    width: 304px;
    height: 100%;
    background-image: url('../icons/support/empty-card-bg.svg');
    background-size: 345px 216px;
    background-position: -30px 32px;
    background-repeat: no-repeat;
  }

  .support-card.heart {
    flex-shrink: 0;
    width: 304px;
    background-image: url('../icons/support/heart-silpo-mobile-bg.svg');
    background-size: 232px 210px;
    background-repeat: no-repeat;
    background-position: center 35px;
    overflow: hidden;
  }

  .support-card-hand-icon.left-hand-mobile {
    display: none;
  }

  .support-card-hand-icon.right-hand-mobile {
    display: none;
  }

  .support-card-hand-icon.left-hand-desk {
    position: absolute;
    top: 42px;
    right: 210px;
    display: block;
    width: 173px;
    height: 107px;
    transition: right var(--transition-duration-and-func),
      top var(--transition-duration-and-func),
      transform var(--transition-duration-and-func);
  }

  .support-card-hand-icon.right-hand-desk {
    position: absolute;
    top: 61px;
    left: 166px;
    display: block;
    width: 204px;
    height: 162px;
    transition: left var(--transition-duration-and-func);
  }

  .support-cards-list-item:has(
      .support-card-silpo-helps-link:is(:hover, :focus)
    )
    ~ .support-cards-list-item:has(.support-card.heart)
    .support-card-hand-icon.left-hand-desk {
    right: 171px;
  }

  .support-cards-list-item:has(
      .support-card-silpo-helps-link:is(:hover, :focus)
    )
    ~ .support-cards-list-item:has(.support-card.heart)
    .support-card-hand-icon.right-hand-desk {
    top: 78px;
    left: 144px;
    transform: rotate(13.25deg);
    transform-origin: top right;
  }

  .support-big-left-hand-desk-icon {
    top: 110px;
    right: 460px;
    width: 1625px;
    height: 769px;
  }

  .support-big-right-hand-desk-icon {
    top: 76px;
    left: 717px;
    width: 1302px;
    height: 810px;
  }

  .support-big-left-hand-mobile-icon {
    display: none;
  }

  .support-big-right-hand-mobile-icon {
    display: none;
  }

  .support-contacts-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 40px;
    padding-left: 107px;
  }

  .support-contacts-title {
    flex-shrink: 0;
  }

  .support-contacts-text-wrap {
    flex-direction: row;
    gap: 16px;
    margin-top: 0px;
  }

  .support-contacts-text {
    width: 510px;
  }

  .support-contacts-email-link {
    align-self: center;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1309px) {
  .support-cards-list-item.desk {
    display: none;
  }

  .support-card-silpo-helps-link-icon.next-arrow {
    display: none;
  }

  .support-card-hand-icon.left-hand-desk {
    display: none;
  }

  .support-card-hand-icon.right-hand-desk {
    display: none;
  }

  .support-big-right-hand-desk-icon {
    display: none;
  }

  .support-big-left-hand-desk-icon {
    display: none;
  }
}
