h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--body-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hiddenBtn {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hidden-element {
  position: fixed;
  transform: scale(0);
}

.container {
  position: relative;
  width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: #37342b;
  font-family: Akrobat;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.event-none {
  pointer-events: none;
}

@media screen and (min-width: 1310px) {
  .container {
    width: 1308px;
  }

  .section-title {
    font-size: 42px;
    text-align: left;
  }
}
